body {

    background-image: url("./multicolor.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: #20c997;
}

header {
    color: #6f42c1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

.row {
    color: #d63384;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}

.p {
    padding: 8px;
}

.hide {
    display: none
}